/** PC view **/
* {
    margin: 1px;
    padding: 1px;

}

body {
    background: url(./image/ui-ux.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    background-size: cover 100%;
    width: 100%; height: 100%;
    overflow-y: scroll;
    background-attachment: fixed;
}

.submissions-table {
    width: 100%;
    border-collapse: collapse;
}

form {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

form .userMail {
    margin-left: 1%;
}
form .userSubmission {
    margin-left: .5%;
    color: navy;
    font-weight: bold;
}

form .userSubmission:hover {
    color: blue;
}

tbody tr {
    color: white;
}

.submissions-table th,
.submissions-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.submissions-table caption {
    caption-side: top;
    font-weight: bold;
    margin-bottom: 10px;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blink-green {
    color: cyan;
    animation: blink 5s infinite;
}

.blink-red {
    color: red;
    animation: blink 5s infinite;
}

.submissions-table {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%; height: 100%;
}
.userSubmission {
    margin-top: .2rem;
}

/* Mobile view of the webpage */
@media screen and (max-width: 750px) {
    * {
        margin: 2px;
        padding: .2px;
    }
    body {
        margin: .2rem .1rem;
        width: 100%; height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
    }
    form, div {
        margin-right: .5%;
        width: 100%;
    }
    form .userSubmission {
        margin-right: 4%;
        color: navy;
        font-weight: bold;
    }
    .submissions-table th,
    .submissions-table td {
        border: 1px solid black;
        padding: .1rem;
        text-align: left;
    }
    thead, tbody {
        width: 50%;
    }
    tr {
        padding-left: 2px;
    }
    input, label {
        display: block;
        text-align: center;
    }
    .userMail, .userID {
        display: flex;
        width: 100%;
    }
    input {
        width: 100%;
    }
    table {
        width: 100%;
    }
}